---
import '../../../styles/global.css';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!--docktype html-->
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Track your career journey" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- import font Outfit of Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-[var(--bg-app)] text-[var(--text-main)] min-h-screen font-['Outfit']">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <slot />
    </div>
  </body>
</html>
