---
import MainLayout from '../infrastructure/components/layout/MainLayout.astro';
import JobCard from '../infrastructure/components/jobs/JobCard.astro';
import type { JobApplication } from '@core/domain/entities/job-application.entity';
import { FetchJobApplicationRepository } from '@infrastructure/adapters/job-application/fetch-job-application.repository';
import { GetAllJobApplicationsUseCase } from '@core/application/use-cases/jobs/get-all-job-applications.use-case';
import { AddJobModal } from '@infrastructure/components/jobs/AddJobModal';

const token = Astro.cookies.get('auth_token');
if (!token) {
  return Astro.redirect('/login');
}

const jobRepo = new FetchJobApplicationRepository(token.value);
const getAllJobs = new GetAllJobApplicationsUseCase(jobRepo);

let jobs: JobApplication[] = [];
try {
  jobs = await getAllJobs.execute();
} catch (error) {
  console.error(error);
}
---

<MainLayout title="Dashboard | Career Track">
  <div class="py-12">
    <header class="mb-16 space-y-4">
      <h1 class="text-7xl font-medium tracking-tight text-white italic">
        Career <span class="text-gradient">Track</span>
      </h1>
      <p class="text-lg text-slate-400 font-medium tracking-tight max-w-md">
        Gestiona tu trayectoria profesional con una interfaz diseñada para el
        enfoque y la claridad.
      </p>
      <div class="pt-4">
        <AddJobModal client:load />
      </div>
    </header>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {
        jobs.length > 0 ? (
          jobs.map((job) => <JobCard job={job} />)
        ) : (
          <div class="col-span-full py-20 text-center border-2 border-dashed border-white/5 rounded-3xl">
            <p class="text-slate-500 font-medium">
              Aún no has añadido ninguna aplicación.
            </p>
          </div>
        )
      }
    </div>
  </div>
</MainLayout>
